<div class="content" role="main">

  <!-- Resources -->
  <h3>Live status of available hospital resources</h3>
  <br>

  <h3>Add/Update Record</h3>

  <form>
    <div class="form-group">
      <label for="inputAddress">Name</label>
      <input class="form-control" id="inputAddress" placeholder="Hospital Name" readonly type="text">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input class="form-control" id="inputEmail4" type="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Phone</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Floor</label>
        <input class="form-control" id="inputEmail4" type="email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Section</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Room</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">ItemType</label>
        <input class="form-control" id="inputEmail4" type="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">ItemCount</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">ItemName</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">ItemID</label>
        <input class="form-control" id="inputPassword4" type="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Available From</label>
        <input class="form-control" id="inputAddress" type="date">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Available Till</label>
        <input class="form-control" id="inputAddress" type="date">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" type="text">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input class="form-control" id="inputCity" type="text">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select class="form-control" id="inputState">
          <option selected>Choose...</option>
          <option>Delhi</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input class="form-control" id="inputZip" type="text">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" id="gridCheck" type="checkbox">
        <label class="form-check-label" for="gridCheck">
          Notify On Subscribe
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Add/Update</button>
  </form>

</div>
